<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galtashma.parsedashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_circle"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:name=".ParseDashboardApplication"

        android:networkSecurityConfig="@xml/network_security_config"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.AppsMenuParseActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SingleAppParseActivity"
            android:label="@string/app_name"
            android:parentActivityName=".screens.AppsMenuParseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.galtashma.parsedashboard.screens.AppsMenuParseActivity" />
        </activity>
        <activity
            android:name=".screens.SingleClassParseActivity"
            android:label="@string/title_activity_parse_table"
            android:parentActivityName=".screens.SingleAppParseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.galtashma.parsedashboard.screens.SingleAppParseActivity" />
        </activity>
        <activity
            android:name=".screens.SingleObjectParseActivity"
            android:label="@string/title_activity_parse_object"
            android:parentActivityName=".screens.SingleClassParseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.galtashma.parsedashboard.screens.SingleClassParseActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ef2dcdc24492870e0cd95b8eba2103403c8dd1ff" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>